

mat-grid-list {
    margin-top: 40px;
    background-color: #ade0d7;
}

button:hover {

   font-size: x-large;
   transition: 0.3s ease-in-out;
   background-color: #6ebc09;
   color: antiquewhite;
}



mat-card-title {
    color: antiquewhite;
    background-color: #6ebc09;
}

label {
    margin-top: 45px;
    text-align: center;
}
mat-icon {
 font-size: 60px;
 margin-right: 40px;
}
