<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center" class="mat-elevation-z6">
       <h1>Menu</h1> 
    </mat-card-title>

   <br><br>

    <mat-card-content class="mat-elevation-z6">
        <mat-grid-list cols="5" rowHeight="2:1">
            <mat-grid-tile >
                <button  mat-raised-button routerLink="/colaboradores">
                    <mat-icon>badge</mat-icon><br><br>
                    <label>Colaboradores</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button routerLink="">
                    <mat-icon>person</mat-icon><br><br>
                    <label>Clientes</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button routerLink="">
                    <mat-icon>store</mat-icon><br><br>
                    <label>Produtos e Serviços</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button>
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button>
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile >
                <button  mat-raised-button routerLink="/funcs">
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile><mat-grid-tile >
                <button  mat-raised-button routerLink="/funcs">
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile><mat-grid-tile >
                <button  mat-raised-button routerLink="/funcs">
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile><mat-grid-tile >
                <button  mat-raised-button routerLink="/funcs">
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile><mat-grid-tile >
                <button  mat-raised-button routerLink="/funcs">
                    <mat-icon>person</mat-icon><br>
                    <label>Funcionários</label>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>    
</mat-card>
<router-outlet></router-outlet>