<p>cliente-add works!</p>

<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-around center">
       <h1>Cadastrar novo Cliente</h1> 
    </mat-card-title>
    <br><br>
    <mat-card-content fxLayoutAlign="space-around center">
        <form  fxLayout="column" fxLayoutAlign="start stretch">
            <div fxFlex="100"  fxLayout="column" fxLayoutAlign="space-between  begin">
              <mat-form-field class="form">
                <input matInput [(ngModel)]="cliente.nome" type="text" name="nome" placeholder="Nome">
              </mat-form-field>
              <mat-form-field class="form">
                <input matInput [(ngModel)]="cliente.email" type="email" name="email" placeholder="Email">
              </mat-form-field>
            <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  begin" fxLayoutGap="20px">
                <mat-form-field fxFlex="40">
                  <input matInput [(ngModel)]="cliente.profissao" type="text" name="profissao" placeholder="Profissão">
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <input matInput [(ngModel)]="cliente.calcado" type="text" name="calcado" placeholder="Calçado">
                  </mat-form-field>
                <mat-form-field fxFlex="20">
                  <input matInput [(ngModel)]="cliente.nascimento" type="date" name="nascimento" placeholder="Data de Nascimeto">
                </mat-form-field>
            </div>
               
            </div>
            <div fxFlex="100" fxLayoutAlign="begin">
                <h4>Endereço:</h4>
            </div>          
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between begin" fxLayoutGap="20px">
              <mat-form-field fxFlex="50" >  
                <input matInput [(ngModel)]="cliente.logradouro" type="text" name="logradour" placeholder="Endereço">
              </mat-form-field> 
              <mat-form-field fxFlex="20">
                <input matInput [(ngModel)]="cliente.numero" type="text" name="numero" placeholder="Número">
              </mat-form-field>
              <mat-form-field fxFlex="30">
                <input matInput [(ngModel)]="cliente.complemento" type="text" name="complemento" placeholder="Complemento">
              </mat-form-field>            
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between begin" fxLayoutGap="20px">
                <mat-form-field fxFlex="30" >  
                  <input matInput [(ngModel)]="cliente.cep" type="text" name="cep" placeholder="CEP" mask="00000-000">
                </mat-form-field> 
                <mat-form-field fxFlex="30">
                  <input matInput [(ngModel)]="cliente.bairro" type="text" name="bairro" placeholder="Bairro">
                </mat-form-field>
                <mat-form-field fxFlex="30">
                  <input matInput [(ngModel)]="cliente.cidade" type="text" name="cidade" placeholder="Cidade">
                </mat-form-field>
                <mat-form-field fxFlex="10">
                  <input matInput [(ngModel)]="cliente.uf" type="text" name="uf" placeholder="UF">
                  </mat-form-field>            
              </div>
    
            <div fxFlex="100" fxLayoutAlign="begin">
              <h4>Telefone: </h4>
            </div> 
    
            <div fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
              <mat-form-field fxFlex="30">  
                <input matInput [(ngModel)]="cliente.telefone" type="text" name="telefone" placeholder="Telefone" mask="(00) 0000-0000">
              </mat-form-field>
            </div>     
    
            <div fxFlex="100" fxLayoutAlign="begin">
                <h4>Celular: </h4>
              </div> 
      
              <div fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
                <mat-form-field fxFlex="30">  
                  <input matInput [(ngModel)]="cliente.celular" type="text" name="celular" placeholder="Celular" mask="(00) 00000-0000">
                </mat-form-field>
              </div> 
              
              <div fxFlex="100" fxLayoutAlign="begin">
                <h4>Contato: </h4>
              </div> 
      
              <div fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
                <mat-form-field fxFlex="30">  
                  <input matInput [(ngModel)]="cliente.contato" type="text" name="contato" placeholder="Contato" mask="(00) 00000-0000">
                </mat-form-field>
              </div>
    
           
              <div mat-dialog-action [align]="'end'" fxLayoutGap="10px">
                <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
                <button mat-raised-button color="primary" (click)="create()"> Criar </button>
              </div>
            
        </form>
    </mat-card-content>
  </mat-card>